@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400;1,500;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.blue-glassmorphism {
    background: rgb(39, 51, 89, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
  }

.purple-future-card {
  background: linear-gradient(328deg, rgba(2,0,36,1) 0%, rgba(62,32,74,1) 30%, rgba(231,0,255,1) 100%);
}

.blue-ethereum-card {
  /* background: linear-gradient(60deg, rgb(125, 210, 241) 0%, rgba(90, 189, 247, 0.981) 60%); */
  background: linear-gradient(15deg, rgba(255,255,255,1) 0%, rgba(24,116,227,1) 69%, rgba(11,35,166,0.9808298319327731) 100%);
}

.ease-in-out {
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.main-theme {
  /* background: linear-gradient(6deg, rgba(2,0,36,1) 0%, rgba(62,32,74,1) 30%, rgba(231,0,255,1) 100%); */
  /* background: linear-gradient(6deg, rgba(32,226,6,1) 0%, rgba(145,233,14,1) 22%, rgba(232,250,1,0.9808298319327731) 59%); */
  /* background: linear-gradient(10deg, rgba(10,10,10,1) 0%, rgba(38,23,163,1) 29%, rgba(94,3,205,0.9808298319327731) 79%); */
  background: linear-gradient(350deg, rgba(41,200,255,1) 0%, rgba(251,251,251,0.9808298319327731) 93%);
}